//npm.pkg.github.com/:_authToken={{ output "security" "find-generic-password" "-s" "npm-github-packages" "-a" "ria" "-w" | trim }}
//registry.npmjs.org/:_authToken={{ output "security" "find-generic-password" "-s" "npm-registry" "-a" "ria" "-w" | trim }}
