#!/bin/bash
set -euo pipefail

# Brewfile hash: {{ include "private_dot_config/Brewfile" | sha256sum }}
echo "Running brew bundle..."
brew bundle --file={{ joinPath .chezmoi.homeDir ".config/Brewfile" }} --no-lock
